.sign-in {
    background-color:#032639;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 15%;
    color:#FFF;
}
.sign-in__form {
    padding: 100px;
}
.auth__btn {
    margin-left: 15px;
}

.sign-in__btn {
    width: 100%;
}
.sign-in__btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgba(131, 236, 255, 0.1), 0 3px 6px rgba(247, 247, 247, 0.08);
  }