@import "../css-1";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
body {
  background: linear-gradient(#0b2738, #2d4e60) fixed;
}

/* Нормализация стилей <input> */
/* 1 – Изменим стили шрифтов */
/* 2 – Удалим margin в Firefox и Safari */
input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}
.header {
  height: 100px;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.header__list {
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 300px;
  justify-content: space-between;
}
.header__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.auth {
  text-align: right;
}
.auth__signin {
  margin-bottom: 2px;
}
.auth__profile {
  margin-left: 80px;
}
.auth__btn {
  color: #fff;
  text-decoration: none;
}
.main {
  flex: 1 1 auto;
  margin: 0 auto;
}
.film-settings {
  background-color: #032639;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 3%;
  padding: 1.8%;
}
.film-settings__title {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.search {
  background-color: #032639;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 45px 25px 25px 25px;
  position: relative;
  margin-bottom: 30px;
}
.film-btn {
  margin: 0px 0px 15px 0px;
}
.film-btn__link {
  font-size: 1rem;
}
.search__title {
  position: absolute;
  top: 0px;
  left: 20px;
  color: #fff;
  font-size: 1.3rem;
}
.main__btns {
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.search-form {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
.film-settings__search-input {
  margin-top: 20px;
}
.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  color: #000000;
}
.d1 button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7ba7ab;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #f9f0da;
}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  padding-top: 4%;
  margin-top: -239px;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант */
  background-color: rgba(0, 0, 0, 0.4); /* Черный с непрозрачностью */
}
/* Модальный заголовок */
.modal-header {
  padding: 2px 16px;
  background-color: #20a887;
  text-align: center;
  color: white;
  border-radius: 19px 19px 0 0;
}

/* Модальное содержание/коробка */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 20px 20px 19px 19px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.8s;
}

.sort {
  max-width: 80%;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 20px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 20px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}
.btn:focus-visible {
  border: 1px solid #4c51f9;
  outline: none;
}
.btn:hover {
  transition: all 0.2s;
  box-shadow: rgba(54, 124, 64, 0.2) 0px 3px 15px;
}
.btn:active {
  background-color: #808080;
}
.btn:disabled {
  background-color: #eee;
  border-color: #eee;
  color: #444;
  cursor: not-allowed;
}
.modal__btn {
  margin: 0 auto;
  width: 150px;
  height: 56px;
  font-size: 1rem;
  margin-top: 50px;
}

/* установим отступ 1rem от нижнего края элемента */
.text-field,
.choice-field {
  margin-bottom: 0.3rem;
}
/* стили для label */
.text-field__label {
  display: block;
  margin-bottom: 0.35rem;
}
.choice-field__label,
.text-field__name {
  display: block;
  margin: 0.55rem 0 0.35rem 0;
}
/* стили для input */
.text-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.4rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.text-field__input:disabled {
  background-color: #eee;
  border-color: #eee;
  color: #444;
}
.year-sort__input {
  display: inline;
}

/* стили для select */
select:valid {
  color: black;
}
option {
  color: black;
}
.choice-field__select {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.4rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.year-sort__name {
  margin: 0.55rem 0 0.35rem 0;
}
.year-sort__body {
  display: flex;
}
.year-sort__left,
.year-sort__right {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.year-sort__label {
  margin: 0 5px;
}
.year-sort__input {
  flex-grow: 1;
}

#slider {
  width: 94%;
  margin: 0 auto;
}
.rating__title {
  margin: 0.55rem 0 0.55rem 0;
}
.noUi-tooltip {
  bottom: -140% !important;
  font-size: 0.9rem !important;
  font-family: inherit !important;
  font-weight: 500 !important;
}
.rating__input-min,
.rating__input-max {
  display: none;
}

/* Кнопка закрытия */
.close {
  color: rgba(255, 255, 255, 0.747);
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Добавить анимация */
@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.itc-slider__item {
  flex: 0 0 20%;
  max-width: 20%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.footer {
  color: rgba(255, 255, 255, 0.597);
  margin: 5px auto;
  text-align: center;
  font-size: 0.9rem;
  font-family: inherit;
}
.feedback {
  margin-bottom: 5px;    
}
.feedback__email {
  color: rgba(255, 255, 255, 0.597); 
}


/* COOKIES */

#cookie_note {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 50%;
  max-width: 90%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_note p {
  margin: auto 0;
  font-size: 0.7rem;
  text-align: left;
  color: black;
}

.cookie_accept {
  width: 30%;
  font-size: 0.8rem;
  line-height: normal;
  margin: 0;
  margin-left: 5px;
  background-color: blue;
  color: #fff;
}
@media (min-width: 576px) {
  #cookie_note.show {
    display: flex;
  }
}

@media (max-width: 575px) {
  #cookie_note.show {
    display: block;
    text-align: left;
  }
}
